:root{
    --login-primary-color: #0f172a; 
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--login-primary-color);
    flex-direction: column;
}

.form-main{
    width: 80%;
    max-width: 32rem;
    background-color: white;
}

.fieldset-form{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 1rem;
}

.title-form {
    font-weight: 300;
    font-size: 2rem;
    color: var(--login-primary-color);
    padding-top: 2rem;
}

.label-form{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
}

.input-login {
    padding: 0.5em 0;
    font-size: 1.2rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--login-primary-color);
    margin-bottom: .8rem;
    outline: none;

    transition: padding-left .08s;
}

.input-login:focus {
    outline: 1px solid var(--login-primary-color);
    padding-left: .3rem;
}

.actions-form {
    display: flex;
}

.btns {
    display: flex;
  gap: 5px;
  border-radius: 2px;
  width: 45%;
}

.btn {
    width: 50%;
    border: 1px solid transparent;
    background-color: white;
    text-transform: uppercase;
    font-size: 1em;
    pad: 1px;
}
